*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background-image: url(images/eacbd3ac6a3d097d54dd5a6d9c8f47b7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:20px;
}

h1{
    color:white;
    margin-bottom:20px;
}

.top-bar{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

.add{
    background-color: rgb(31, 43, 152);
}

.top-bar input,.top-bar select,.top-bar button{
    padding:10px;
    border:none;
    border-radius:5px;
}

#searchInput{
    margin-bottom:20px;
    width:250px;
}

.board{
    display:flex;
    gap:20px;
}

.column{
    background-color:rgba(96, 114, 183, 0.573);
    width:300px;
    min-height:500px;
    padding:15px;
    border-radius:10px;
}

.column h2{
    margin-bottom:15px;
}

.card{
    background:white;
    padding:10px;
    border-radius:8px;
    margin-bottom:10px;
}

.label{
    display:inline-block;
    color:white;
    padding:4px 8px;
    border-radius:5px;
    font-size:12px;
    margin-bottom:10px;
}

.card button{
    margin-top:5px;
    margin-right:5px;
    padding:5px;
}


.move-button {
  background-color: #aa00ff; 
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 6px; 

}

.edit-button {
  background-color: #4c90af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.delete-button {
  background-color: #ff0062; 
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 6px; 

}




